<div class="container-fluid" data-controller='teams-index'>
  <div class="teams-container">
    <% @teams.order(:api_id).each do |team| %>
      <%= link_to team_path(team) do %>
        <div class="teams-card-hover" data-teams-index-target='container'>
          <div class="teams-card" data-action='mouseenter->teams-index#mouseEnter
                                               mouseleave->teams-index#mouseLeave'
                                  data-card-id= "<%= team.api_id %>"
                                  data-teams-index-target='card'>
            <h3> <%= team.name %> </h3>
            <div class="teams-card-img-container">
              <%= cl_image_tag team.logo.key, data: {teams_index_target: "logo"} %>
            </div>
            <div class="teams-card-description-container">
              <h4> Last five games</h4>
              <div class='teams-card-score-container'>
              <% team.past_games(team).first(5).each do |game| %>
                <% if game.win?(game,team) %>
                  <i class="fa-solid fa-check"></i>
                <% else %>
                  <i class="fa-solid fa-xmark"></i>
                <% end %>
              <% end %>
              </div>
              <div class='teams-card-score-players-container'>
                <h4 style='margin-bottom:20px'>Best players</h4>
                  <div class="teams-card-score-player">
                    <p>Player 1</p>
                    <p>55</p>
                  </div>
                  <div class="teams-card-score-player">
                    <p>Player 2</p>
                    <p>46</p>
                  </div>
                  <div class="teams-card-score-player">
                    <p>Player 3</p>
                    <p>47</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
