<!-- Team Show Container -->
<div class="container-fluid" data-controller='team-show'>
  <div class="team-show-container">
    <!-- Team Name -->
    <div class="flex justify-between items-center">
      <%= cl_image_tag @team.logo.key, class: "w-16 h-16 object-cover" %>
      <h1 class="ml-4 text-2xl font-bold"><%= @team.name %></h1>
    </div>

    <!-- Last Ten Games Section -->
    <div class="team-show-main-content-container">
      <div class="team-show-game-title">
        <h2>Last ten games</h2>
        <!-- Win/Lose Menu -->
        <i class="fa-solid fa-chevron-down" id="ten-games-chevron" data-action="click->team-show#showWinLoseMenu"></i>
        <div class="team-show-win-lose-menu" data-team-show-target="winLoseMenu">
          <div class="team-show-win-lose-menu-item" data-action="click->team-show#sortByWin" data-team-show-target="win">
            <ul>Win</ul>
          </div>
          <div class="team-show-win-lose-menu-item" data-action="click->team-show#sortByLose" data-team-show-target="lose">
            <ul>Lose</ul>
          </div>
        </div>
      </div>

      <!-- Games Container -->
      <div class="team-show-games-container">
        <% @past_games.first(10).each do |game| %>
          <%= render partial: 'shared/game_card', locals: { game: game, team: @team } %>
        <% end %>
      </div>
    </div>

    <!-- Players Section -->
    <div class="team-show-main-content-container">
      <h2>Players</h2>
      <div class="team-show-players-container">
        <% @players.each do |player| %>
          <%= render partial: 'shared/player_card', locals: { player: player } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
