.team-show {

  &-container {
    h1 {
      margin-left: -30px;
      margin-bottom: 32px;
    }
  }

  // GAMES //

  &-games-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    align-items: center;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  &-game-card {
    position: relative;
    background-color: rgb(240,240,240);
    color: black;
    border-radius: 8px;
    padding: 6px 12px;
    font-family: 'Roboto Condensed', sans-serif;
    transition: transform .4s;

    &:hover {
      transform: scale(1.1);
      background-color: white;
      cursor: pointer;
    }

    &-date {
      width: fit-content;
      margin: 0 auto;
      color: rgb(180,180,180);
      font-style: italic;
      font-size: 18px;
    }

    &-information {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;
      font-size: 16px;

      &-container {
        border-radius: 8px;
        border: solid rgb(180,180,180) 1px;
        padding: 8px;
      }

      &-home {
        margin-bottom: 4px;
      }
    }

    img {
      width: 25px;
      margin-right: 4px;
    }
  }

  // PLAYERS //

  &-players {
    &-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-row-gap: 30px;
      grid-column-gap: 42px;
      margin: 32px 0px 16px 0px;
    }

    &-card {
      text-align: center;
      border: solid 4px rgb(38, 44, 58);
      background: linear-gradient(90deg, #444965 0%, #3f445d 78%, #373c54 103%);
      box-shadow: 0px 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
      padding: 4px;
      border-radius: 24px;

      &-description {
        width: 91%;
        padding: 4px 14px;
        margin: 18px auto 12px;
        color: black;
        border-radius: 8px;
        background-color: whitesmoke;
        z-index: 1;
      }

      &-stat {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      p {
        margin-bottom: 4px
      }

      h3 {
        margin: 12px 0 0 0;
      }

      i {
        font-size: 70px;
        margin: 8px 0px;
        color: white;
      }
    }
  }



}

.day-index-container {
  margin-bottom: 58px;
  color: rgb(220,220,220);
  padding: 16px 28px 1px 28px;
  transition: transform 0.6s;
  border-radius: 12px;
  background: linear-gradient(170deg, #252838 45%, #3f435e 90%, #505577 103%);
  box-shadow: 0px 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);

  &-games {
    border-radius: 16px;
    padding: 20px;
    border: solid 1px rgb(140,140,140);
  }

  h1 {
    margin-left: 0px;
    font-size: 48px;
  }

  i {
    box-shadow: 0px 0px 0px rgba(0,0,0,0.2)
    ;
  }
}

.hover-games-container {
  transition: transform 0.6s;

  &:hover{
    transform: scale(1.05);
  }
}

.winning-team {
  font-weight: 700;
  font-size: 18px;
}

.win-lose-container {
  position: absolute;
  right: 10px;
}

.lose-game-card {
  padding: 4px 6px;
  font-size: 10px;
}

.win-game-card {
  padding: 4px;
  font-size: 10px;
}
