.day-index-container {
  margin-bottom: 58px;
  color: rgb(220,220,220);
  padding: 16px 28px 1px 28px;
  transition: transform 0.6s;
  border-radius: 12px;
  background: linear-gradient(170deg, #2f3245 45%, #3f435e 90%, #505577 103%);
  box-shadow: 0px 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);

  h1 {
    margin-left: 0px;
    font-size: 48px;
  }

  i {
    box-shadow: 0px 0px 0px rgba(0,0,0,0.2)
    ;
  }
}

.hover-games-container {
  transition: transform 0.4s;

  &:hover{
    transform: scale(1.04);
  }
}

.winning-team {
  font-weight: 700;
  font-size: 18px;
}

.win-lose-container {
  position: absolute;
  right: 10px;
}

.lose-game-card {
  padding: 4px 6px;
  font-size: 10px;
}

.win-game-card {
  padding: 4px;
  font-size: 10px;
}

.team-show {

  &-container {
    h1 {
      margin-left: -12px;
      margin-bottom: 32px;
    }

    h2 {
      font-size: 44px;
    }
  }

  &-main-content-container {
    margin-bottom: 58px;
    color: rgb(220,220,220);
    padding: 16px 28px;
    transition: transform 0.6s;
    border-radius: 12px;
    background: linear-gradient(170deg, #2f3245 45%, #3f435e 90%, #505577 103%);
    box-shadow: 0px 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);

    h1 {
      margin-left: 0px;
      font-size: 48px;
    }

    i {
      box-shadow: 0px 0px 0px rgba(0,0,0,0.2)
      ;
    }
  }

  // GAMES //

  &-game-title {
    position: relative;
    display: flex;
    align-items: center;
  }

  &-win-lose-menu {
    position: absolute;
    left: 22%;
    top: 80%;
    color: rgb(120,120,120);
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    transition: transform 0.4s;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.2);
    z-index: 100;

    &-item {
      &:hover {
        background-color: rgb(230,230,230);
        color: #2E3244;
        cursor: pointer;
      }
    }

    ul{
      margin: 0;
      padding: 2px 60px 2px 6px;
      font-size: 18px;
    }
  }

  &-games-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    align-items: center;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  &-game-card {
    position: relative;
    background-color: rgb(240,240,240);
    color: black;
    border-radius: 8px;
    padding: 6px 12px;
    font-family: 'Roboto Condensed', sans-serif;
    transition: transform .4s;

    &:hover {
      transform: scale(1.1);
      background-color: white;
      cursor: pointer;
    }

    &-date {
      width: fit-content;
      margin: 0 auto;
      color: rgb(180,180,180);
      font-style: italic;
      font-size: 18px;
    }

    &-information {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;
      font-size: 16px;

      &-container {
        border-radius: 8px;
        border: solid rgb(180,180,180) 1px;
        padding: 8px;
      }

      &-home {
        margin-bottom: 4px;
      }
    }

    img {
      width: 25px;
      margin-right: 4px;
    }
  }

  // PLAYERS //

  &-players {
    &-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-row-gap: 30px;
      grid-column-gap: 24px;
      margin: 32px 0px 16px 0px;
    }

    &-card {
      position: relative;
      text-align: center;
      border: solid 4px rgb(38, 44, 58);
      background: linear-gradient(90deg, #444965 0%, #3f445d 78%, #373c54 103%);
      box-shadow: 0px 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
      padding: 4px;
      border-radius: 24px;
      transition: transform .4s;

      &:hover {
        transform: scale(1.06);
        cursor: pointer;
      }

      &-logo-container {
        position: absolute;
        top: 3%;
        right: 5%;

        img {
          width: 40px;
        }
      }


      &-description {
        width: 90%;
        padding: 4px 14px;
        margin: 18px auto 12px;
        color: white;
        border: 1px solid white;
        border-radius: 12px;
        background-color: #373c54;

        h5 {
          color: white;
        }
      }

      &-stat {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-rating {
        position: absolute;
        left: 6%;
        top: 3%;
      }

      &-fga-positive {
        color: #10ea96 !important;
      }

      &-fga-negative {
        color: #ce2e2e !important;
      }

      p {
        margin-bottom: 2px;
        color: rgb(200,200,200);
      }

      h3 {
        margin: 18px 0 0 0;
      }

      i {
        font-size: 70px;
        margin-top: 30px;
        color: rgb(180,180,180);
      }
    }
  }
}


#card-stat-row {
  font-style: italic;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

#player-card-score {
  background-color: #8c8c8c;
  color: white;
  padding: 4px 4px 0px 0px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 21px;
  font-style: italic;
  font-weight: 600;
}


#ten-games-chevron {
  font-size: 14px;
  transition: transform 0.2s;
  margin-left: 12px;
  border-radius: 4px;
  border: 1px solid;
  padding: 3px;
  cursor: pointer;
}



// Classes for JS

.rotate {
  transform: rotate(-0.5turn);
}

.selected-option {
  color: #414761;
  font-weight: 700;
}
