

.teams{
  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 42px;
    grid-column-gap: 36px;
    align-items: center;
    height: 100%;
  }

  &-card {
    margin: auto;
    border: solid 4px rgb(38, 44, 58);
    background: linear-gradient(90deg, #444965 0%, #3f445d 78%, #373c54 103%);
    box-shadow: 0px 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
    padding: 4px;
    border-radius: 24px;

    &-img-container {
      width: 94%;
      padding: 20px;
      padding-bottom: 8px;
      margin: 6px auto;

      img {
        display: block;
        margin: auto;
        height: 110px;
      }
    }

    &-description-container {
      width: 91%;
      padding: 4px 14px;
      margin: 18px auto 12px;
      color: black;
      border-radius: 8px;
      background-color: whitesmoke;
      z-index: 1;
    }

    &-score-container {
      display: flex;
      justify-content: space-around;
      margin-top: 24px;
      margin-bottom: 24px;
    }

    &-score-player {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-players-container {

      p {
        margin-left: 12px;
        margin-top: 12px;
      }
    }

    h3, h4 {
      text-align: center;

      margin-top: 12px;
    }

    h4 {
      color: rgb(100,100,100);
    }
  }
}

.fa-check{
  color: white;
  border-radius: 50%;
  padding: 6px;
  font-size: 16px;
  background-color: #10ea96;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.2), 0px 0px 40px rgba(0,0,0,0.2);


}

.fa-xmark{
  color: white;
  border-radius: 50%;
  padding: 6px 9px;
  font-size: 16px;
  background-color: #CF0A0A;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.2), 0px 0px 40px rgba(0,0,0,0.2);
}


.teams-card-hover {
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 2s;
}

.teams-card-reset {
  transition-duration: 2s;
  transform: rotateX(0deg) rotateY(0deg);
}


#teams-card-score {
  background-color: #8c8c8c;
  color: white;
  padding: 4px 4px 0px 0px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
}
