

.teams{
  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 42px;
    grid-column-gap: 36px;
    align-items: center;
    height: 100%;
  }

  &-card {
    margin: auto;
    background-color: rgb(240,240,240);
    padding: 4px;
    border-radius: 20px;
    border: solid rgb(120,120,120) 6px;

    &:hover {
      background-color: white;
    }

    &-img-container {
      width: 94%;
      padding: 20px;
      padding-bottom: 8px;
      margin: 6px auto;

      img {
        display: block;
        margin: auto;
        height: 110px;
      }
    }

    &-description-container {
      width: 94%;
      padding: 8px;
      margin: 18px auto 12px;
      color: black;
      border-radius: 8px;
      border: solid rgb(160,160,160) 1px;
      background-color: white;
      z-index: 1;
      transition: all 0.5 ease;
    }

    &-score-container {
      display: flex;
      justify-content: space-around;
      margin-top: 24px;
      margin-bottom: 24px;
    }

    &-players-container {

      p {
        margin-left: 12px;
        margin-top: 12px;
      }
    }

    h3, h4 {
      text-align: center;
      color: rgb(180,180,180);
      margin-top: 12px;
    }

    h3 {
      color: rgb(100,100,100);
      font-size: 26px;
      font-weight: 100;
    }
  }
}

.fa-check{
  color: white;
  border-radius: 50%;
  padding: 6px;
  font-size: 16px;
  background-color: #10ea96;

}

.fa-xmark{
  color: white;
  border-radius: 50%;
  padding: 6px 9px;
  font-size: 16px;
  background-color: #CF0A0A;
}

.hover-logo {
  transform: scale(1.2);
}


.teams-card-hover {
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 2s;
}

.teams-card-reset {
  transition-duration: 2s;
  transform: rotateX(0deg) rotateY(0deg);
}
