.versus {
  &-container {
    height: 100%;

    @media (min-width: 1200px) {
      padding: 0rem 12rem;
    }

    @media (min-width: 1500px) {
      padding: 16px 140px;
    }

    &-after-submit {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 8rem;
    }
  }

  &-form-container {
    padding-top: 8rem;

      form {
        display: flex;
        justify-content: space-between;

        select {
          background: none;
          border-radius: 24px;
          padding-left: 36px;
          color: rgb(200,200,200);
          font-family: 'Roboto Condensed', sans-serif;
          font-style: italic;
          text-align: center;
          font-size: 20px;
        }
      }
    }

  &-players-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
  }

  &-player-card {
    box-shadow: 0px 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
    border-radius: 24px;
    padding-bottom: 16px;
    border: 1px solid white;

    &-start {
      width: 28%;
      overflow: hidden;
      transition: transform .4s;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
    &-hover {
      width: 26%;
      perspective: 800px;
      transform-style: preserve-3d;
      transition: transform 2s;
    }

    &-img-container {
      text-align: center;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;

      img {
        width: 234px;
        margin-top: 16px;
      }
    }

    &-description {
      margin-top: 18px;

      &-team {
        background-color: rgba(200, 200, 200, 0.1);
        margin: 12px;
        border-radius: 8px;

        h3 {
          padding: 0px 0px 8px 12px;
          font-size: 22px;
        }

        h4 {
          padding: 8px;
          color: rgb(180,180,180);
          margin: 0;
        }
      }

      &-bottom {
        display: flex;
        justify-content: space-between;
        margin: 12px;
        margin-bottom: 0px;

        &-content {
          width: 48%;
          background-color: rgba(200, 200, 200, 0.1);
          border-radius: 8px;

          h3 {
            padding: 0px 0px 4px 12px;
            margin: 0;

          }

          h4 {
            padding: 6px 8px;
            color: rgb(180,180,180);
            margin: 0;
          }
        }
      }
    }
  }
  &-logo-vs-container{
    margin-top: 4rem;

    img {
      width: 14rem;
    }
  }
}

.versus-button-container {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(170deg, #2f3245 45%, #3f435e 90%, #505577 103%);
  padding: 8px 24px;
  border-radius: 28px;
  font-size: 24px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;

  &:hover {
    border: 1px solid rgb(180,180,180);
  }

  a {
    color: white;
  }
}


.select2-container--default .select2-selection--single {
  background: none !important;
  border-radius: 24px !important;
  padding-left: 36px !important;
  color: white !important;
  font-family: 'Roboto Condensed', sans-serif !important;
  font-style: italic !important;
  text-align: center !important;
  font-size: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: white !important;
}

.select2-container--open .select2-dropdown--below  {
  background: none;
  border: 1px solid white;
  width: 279.5px;
  border-radius: 17px;
  position: absolute;
  top: 12px;
}

img[src=""] {
  display: none;
}
