.versus {
  &-container {

    @media (min-width: 1200px) {
      padding: 8px 40px;
    }

    @media (min-width: 1500px) {
      padding: 16px 140px;
    }
  }

  &-form-container {
    margin-top: 100px;
  }

  &-players-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -8rem;
  }

  &-player-one-container, &-player-two-container {
    width: 20%
  }
}

.reset-button-container {
  position: fixed;
  bottom: 6%;
  left: 50%;
  margin-left: -75px;
  background: linear-gradient(170deg, #2f3245 45%, #3f435e 90%, #505577 103%);
  padding: 6px 12px;
  border-radius: 16px;

  &:hover {
    border: 1px solid rgb(180,180,180);
  }

  a {
    color: white;
  }
}
