<div class="home-menu-list-item">
  <i class="fa-solid fa-basketball invisible" data-home-animation-target='<%= title.split(' ').join('_').downcase %>'></i>
  <%= link_to(path) do %>
    <p data-action='mouseover->home-animation#mouseOver mouseout->home-animation#mouseOut'><%= title %></p>
  <% end %>
</div>
