<div class="navbar-lewagon">
  <div class='navbar-logos-container'>
      <%= link_to image_tag("https://res.cloudinary.com/dj1mlcnes/image/upload/v1667402674/nba-project/NBA_National_Basketball_Association_Logo_PNG720p_-_Vector69Com_sp3eun.png",
                           alt: "NBA", width: 80), root_path  %>
  </div>
  <div>
      <i class="fa-solid fa-user"></i>
  </div>
</div>


<%# <div class ='search'> %>
  <%# <%= form_tag movies_path, method: :get do %>
    <%# <%= text_field_tag :query, %>
      <%# params[:query], %>
      <%# class: "form-control", %>
      <%# placeholder: "Find a movie" %>
    <%# <%= submit_tag "Search", class: "btn btn-primary" %>
  <%# <% end %>
<%# </div> %>
