<div class="container-home" data-controller='home-animation'>
  <div class="home-background">
    <div class="home-menu-list">
      <%= render 'shared/home_menu', title: 'Games'  %>
      <%= render 'shared/home_menu', title: 'Teams' %>
      <%= render 'shared/home_menu', title: 'Players'  %>
      <%= render 'shared/home_menu', title: 'Players VS', data: {home_animation_target: 'versus'}  %>
    </div>

    <div class="home-outperformers-container">
      <h1>NBA Standings 2023-24</h1>
    </div>

  </div>
</div>
