<div class="container-home" data-controller='home-animation'>
  <div class="home-background">
    <%= image_tag 'https://res.cloudinary.com/dj1mlcnes/image/upload/v1667393647/nba-project/basketball-2560x1440_2_gcp5sl.jpg', alt: "background basket"%>

    <div class="home-menu-list">
      <%= render 'shared/home_menu', title: 'Games reviews'  %>
      <%= render 'shared/home_menu', title: 'Players stats'  %>
      <%= render 'shared/home_menu', title: 'Teams' %>
    </div>
  </div>
</div>
