.modal {
  @media (min-width: 1200px) {
    --bs-modal-width: 1080px;
  }

  @media (min-width: 1500px) {
    --bs-modal-width: 1680px;
  }
  position: fixed;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 40px;
  display: none;
  width: 100%;
  height: 100%;

  &-cross-container {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 34px;
    color: rgb(160,160,160);
    transition-duration: 0.4s;
    opacity: 0.6;


    &:hover {
    opacity: 1;
    }
  }

  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 20px;
    width: 100%;
    border-radius: 18px;
  }

  &-team{
    &-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-family: 'Roboto Condensed', sans-serif;
      margin-top: 24px;
    }

    &-name {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-size: 22px;
        margin: 0;
        margin-top: 16px;
        color: rgb(160,160,160);
      }
    }

    &-score {
      font-size: 34px;
    }

    &-separator {
      font-size: 44px;
      color: rgb(160,160,160);
    }
  }

  img {
    height: 100px;
    margin-bottom: 12px;
  }
}
